<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layouts/layout-main :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BMW</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header th:insert="layouts/layout-main :: navbar"></header>
    <center><h1 style="font-family: Times New">Modelos BMW</h1><center/>

    <div class="card" style="width: 18rem; float:left; margin-left: 2.5%; margin-top: 4%">
        <img src="/img/iX.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">iX</h5>
            <p class="card-text">Con dos poderosos motores eléctricos y la sistema eléctrico de tracción a los cuatro ruedas BMW xDrive, la BMW iX ofrece una extraordinario rendimiento eléctrico: una potencia de 523 HP* impulsa la BMW iX xDrive50 de 0 a 100 km/h en 4,6 segundos.</p>
            <form th:action="@{/empresa/{nit}/compras/iX/iX.png (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin-left: 2.5%; margin-top: 4%">
        <img src="/img/M235ixDriveGranCoupé.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">M235i xDrive Gran Coupe</h5>
            <p class="card-text">Está diseñado de manera contundente para dinamismo de conducción en cada aspecto. Desde la distintiva parte frontal de la parrilla de riñón BMW en diseño de malla hasta los acabados de forma libre del sistema de escape en la potente parte trasera – un atleta de pies a cabeza. </p>
            <form th:action="@{/empresa/{nit}/compras/M235 ix Drive Gran Coupe/M235ixDriveGranCoupé.png (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin-left: 2.5%; margin-top: 4%">
        <img src="/img/serie4Coupé.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Serie 4 Coupé</h5>
            <p class="card-text">El nuevo BMW Serie 4 Coupé deja a un lado con decisión y elegancia las convenciones existentes. El diseño independiente y la silueta clásica de coupé evocan iconos y, al mismo tiempo, subrayan su carácter avanzado. </p>
            <form th:action="@{/empresa/{nit}/compras/Duster/serie4Coupé.png (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin-left: 2.5%; margin-top: 4%">
        <img src="/img/serie1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Serie 1</h5>
            <p class="card-text">El BMW Serie 1 totalmente nuevo llegó para robar miradas. Esto se debe a su diseño inigualable y su lenguaje progresista que lo distinguen a primera vista entre la multitud.</p>
            <form th:action="@{/empresa/{nit}/compras/Duster/serie1.png (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin-left: 3%; margin-top: 4%; margin-right:1%">
        <img src="/img/BMWZ4Roadster.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Z4 roadster</h5>
            <p class="card-text">En 4,5 segundos cargados de adrenalina, los 340 CV del motor de gasolina de 6 cilindros M TwinPower Turbo aceleran el BMW Z4 Roadster de 0 a 100 km / h. No hay una forma más deportiva de lograr ese sentimiento de perfecta libertad. </p>
            <form th:action="@{/empresa/{nit}/compras/Duster/BMWZ4Roadster.png (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    </div>

 
    <div sec:authorize="isAuthenticated()" style="margin-bottom: 5%; margin-top: 0%">
        <div th:if="${esAdmin}" style="text-align: center; width:20%; height:50%">
            <h1 style="text-align: center">Es administrator</h1>
    
            <div style="text-align: center;">
                <form th:action="@{/newEmpleado/{nit} (nit=${Empresa.nit})}" th:method="get">
                    <button type="submit" class="btn btn-primary">Nuevo Empleado</button>
                </form>
            </div>
        </div>
        <div th:unless="${esAdmin}">
            <h1>No es administrador</h1>

    
        </div>
    </div>

<div th:replace="layouts/layout-main :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>