<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layouts/layout-main :: head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title th:text="${Empresa.nombre}">Empresa</title>
</head>
<body>
<header th:insert="layouts/layout-main :: navbar"></header>

<div style="text-align: center">
    <h1>AQUÍ VAN LAS PÁGINAS DE CARLOS</h1>
    <h2 th:text="${Empresa.nombre}"></h2>
</div>

<div sec:authorize="isAuthenticated()">
    <div th:if="${esAdmin}">
        <h1>Es admin</h1>
        <h1>CHUPA CHUPA</h1>

        <div style="text-align: center;">
            <form th:action="@{/newEmpleado/{nit} (nit=${Empresa.nit})}" th:method="get">
                <button type="submit" class="btn btn-primary">Nuevo Empleado</button>
            </form>
        </div>
    </div>
    <div th:unless="${esAdmin}">
        <h1>No es admin</h1>
        <h2 style="text-align: center">CHUPA CHUPA</h2>

    </div>
</div>

<div th:replace="layouts/layout-main :: footer"></div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>