<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/layout-main :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="layouts/layout-main :: navbar">
</header>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 th:text="${title}">xdxdxdxd</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <theader>
                    <tr>
                        <th>id Empresa</th>
                        <th>Nombre</th>
                        <th>NIT</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                    </tr>
                </theader>
                <tbody>
                <tr th:each="empresa: ${empresas}">
                    <td th:text="${empresa.id}"></td>
                    <td th:text="${empresa.nombre}"></td>
                    <td th:text="${empresa.nit}"></td>
                    <td th:text="${empresa.direccion}"></td>
                    <td th:text="${empresa.telefono}"></td>
                    <td th:text="${empresa.correo}"></td>
                    <td>
                        <form th:action="@{/emoresas/{id}(id=${empresa.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="/nuevaEmpresa">Crear Nuevo Plato</a>
        </div>
    </div>
</div>

<span th:replace="layouts/layout-main :: footer"></span>
</body>
</html>